{% extends 'base.html' %}

{% block content %}
<div id="container-wrapper">
    <div id="form-container">
        <div id="container">
            <form action="" method="POST">
                {% csrf_token %}
                <label id="add-task-label" for="task">Adicionar tarefa:</label>
                <p>
                    <label for="task">Título:</label>
                    <input type="text" id="task" name="task" placeholder="Nome da task que você irá realizar." value="{{task.title}}">
                </p>
                <p>
                    <label for="description">Descrição:</label>
                    <textarea id="description" name="description" placeholder="Uma pequena descrição da task." >{{task.description}}</textarea>
                </p>
                <div id="container-buttons">
                    <a id="cancel-btn" href="{% url 'home' %}">Voltar</a>
                    <button id="save-btn" type="submit">Salvar</button>
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock %}
